h1{
  text-align: center;
}
ion-card-title.header {
  text-align: center;
}

ion-card-content b {
  text-align: left;
  margin-right: 20px;
}

ion-card-content .score {
  text-align: left;
}

ion-card-subtitle.competition {
  text-align: right;
}

ion-card-subtitle.competition2 {
  text-align: right;
}

.cardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 46.5%;
}

button {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  
  &:hover {
    background-color: #555;
  }
}

.subtitle2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle2 .time {
  margin-left: 48.5%;
  text-align: center;
}

.subtitle2 .competition2 {
  text-align: right;
}



